* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    margin: 0;
    padding: 10px 100px;
    background-color: #1F2937;
}

#logo {
    height: auto;
    width: 60px;
}

#navbar > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar > ul > li {
    padding: 0 25px;
}

.navi1 {
    margin-right: auto;
}

.navi2, .navi3 {
    border-right: 1px solid white;
}

.navlinks {
    text-decoration: none;
    color: white;
}

.hero {
    padding: 125px;
    padding-top: 40px;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    background-color: #1F2937;
    color: white;
}

#yacht {
    border: 1px solid white;
}

header {
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

header > h1 {
    font-size: 48px;
    margin: 0;
}

header > p {
    margin: 0;
    margin-bottom: auto;
}

.button {
    align-self: flex-start;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    background-color: #3288F6;
    font-weight: bold;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

#our-yachts > h1 {
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

#container {
    padding: 70px 210px;
    padding-bottom: 140px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#container > div > p {
    text-align: center;
    margin: 5px;
    width: 185px;
}

.yacht {
    height: auto;
    width: 170px;
    border-radius: 15px;
    border: 4px #3288F6 solid;
}

#quote {
    background-color: #E5E7EB;
    padding: 60px 210px;
    display: flex;
    flex-direction: column;
}

#quote > p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

#quote > h3 {
    margin: 0;
    align-self: flex-end;
}

#signup {
    padding: 75px 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#signup-container {
    background-color: #3288F6;
    border-radius: 10px;
    padding: 50px 95px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#signup-container > div > h3 {
    margin: 0;
    color: white;
}

#signup-container > div > p {
    margin: 0;
    font-size: 13px;
    color: white;
}

#signup-container > button {
    padding: 7px 30px;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #3288F6;
    font-weight: bold;
    font-size: 17px;
    color: white;
    cursor: pointer;
}